.metadata/
/RemoteSystemsTempFiles
/Week1/.settings
/Week1/bin
/Week1/.classpath
/Week1/.project
/Week2/.settings
/Week2/bin
/Week2/.classpath
/Week2/.project
/Week3/.settings
/Week3/bin
/Week3/.classpath
/Week3/.project
/Week4/.settings
/Week4/bin
/Week4/.classpath
/Week4/.project
/Week5/.settings
/Week5/bin
/Week5/.classpath
/Week5/.project
